<h2>Typus Admin</h2>

<p>You can replace this file placing a file called <code>_dashboard_sidebar.html.erb</code> under <code>app/views/typus</code>.

<p>Help us to improve <a href="http://intraducibles.net/projects/typus/">Typus</a> reporting bugs <a href="http://github.com/fesplugas/typus/wikis/bugs">here</a>.</p> 
