<h1><%= link_to "#{TYPUS[:app_name]}" , "/admin" %> <small><%= link_to "Logout", :controller => "sessions", :action => "destroy" %></small></h1>
<h2><%= TYPUS[:app_description ] %></h2>

<%= modules %>