<% content_for :sidebar do %>
  <%= typus_block("dashboard_sidebar") %>
<% end %>

<h2>Applications</h2>

<%= typus_block("dashboard_top") %>

<%= applications %>

<%= typus_block("dashboard_bottom") %>
