<% content_for :sidebar do %>
  <%= typus_block("dashboard_sidebar") %>
<% end %>

<h2>Site Administration</h2>

<%= typus_block("dashboard_top") %>

<%= modules %>

<%= typus_block("dashboard_bottom") %>
