<%= typus_block("login_top") %>

<% form_tag :action => 'email_password' do %>
  <p><label for="email">Email</label>
  <%= text_field :user, :email, :size => "20", :class => "big" %></p>
  <p><%= submit_tag "Send me a new password" %></p>
<% end %>

<%= typus_block("login_bottom") %>