<% form_tag :action => 'login' do %>
<p><label for="email">Username</label>
<%= text_field :user, :name, :size => "20", :class => "big" %></p>
<p><label for="password">Password</label>
<%= password_field :user, :password, :size => "20", :class => "big" %></p>
<p><%= submit_tag "Log in" %> <% link_to "Forgot your password?", :controller => "sessions", :action => "password_recover" %></p>
<% end %>
