<% content_for :sidebar do %>
	<%= actions %>
<% end %>

<h2><%= link_to "#{@model.to_s.pluralize}", :action => "index", :model => params[:model], :id => nil %> &rsaquo; New</h2>

<% form_tag :action => 'create' do %>
	<%= typus_form %>
	<p><%= submit_tag "Create #{@model}" %></p>
<% end %>
