<% content_for :sidebar do %>
  <%= actions %>
<% end %>

<h2><%= link_to "#{params[:model].titleize}", :action => "index", :model => params[:model], :id => nil %> &rsaquo; New</h2>

<% form_tag :action => 'create' do %>
  <%= typus_form %>
  <p><%= submit_tag "Create #{params[:model].titleize.singularize}" %></p>
<% end %>
