/* ----------------------------------------------------------
Title:     Typus
Details:   Master styles for Typus
Author:    fesplugas@intraducibles.net
Updated:   March 2008
---------------------------------------------------------- */

/* reset all styles
---------------------------------------------------------- */

* {
  margin: 0px;
  padding: 0px;
}

/* html
---------------------------------------------------------- */

html {
  height: 100%;
  margin-bottom: 1px;
  background: #000;
}

/* body
---------------------------------------------------------- */

body {
  color: #333;
  font-family: "Lucida Grande", "Bitstream Vera Sans", Helvetica, Verdana, Arial, sans-serif;
  font-size: 12px;
}

/* links
---------------------------------------------------------- */

a, 
a:visited,
a:link {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

a:active {
  color: #333;
  text-decoration: none;
}

a:hover {
  background: #0099CC;
  color: #FFF;
  display: inline;
  text-decoration: none;
}

/* header
---------------------------------------------------------- */

#header {
  background: black;
  margin: 0px;
  padding: 10px 15px;
  height: 40px;
}

#header h1 {
  color: white;
  font-family: "Lucida Grande";
  font-size: 18px;
  font-weight: normal;
}

#header h1 #flash {
  color: #FFF;
  background: #09C;
  font-size: 75%;
  font-weight: bold!important;
  margin: 0px 0px 0px 5px;
  padding: 3px 5px;
  display: inline;
}

#header h1 a,
#header h1 a:visited,
#header h1 a:active,
#header h1 a:link {
  color: white;
  font-size: 100%;
  text-decoration: none;
}

#header h1 a:hover {
  color: white;
  text-decoration: none!important;
}

#header h1 small a {
  color: red;
}

#header h2 {
  display: none;
}

#header a {
  color: #FFF;
  font-size: 12px;
  font-weight: normal;
  padding: 0px 2px;
}

#header p {
  margin: 5px 0px;
}

#header .left {
  float: left;
}

#header .right {
  float: right;
}

#header .right ul {
  margin: 25px 0px 0px 0px;
}

#header .right li {
  list-style: none;
  display: inline;
  padding: 0px 0px 0px 10px;
}

/* wrapper
---------------------------------------------------------- */

#wrapper {
  background: #FFF;
  min-height: 400px;
  border: 1px solid #999;
}

/* content
---------------------------------------------------------- */

#content {
  margin: 20px 300px 20px 15px;
}

#content a {
  color: #333;
  text-decoration: none;
}

#content a:hover {
  color: #FFF;
  text-decoration: underline;
}

#content h2 {
  height: 20px;
  margin: 0px 0px 10px 0px;
}

#content h2 a:hover {
  color: #0099CC;
  background: transparent;
  text-decoration: none;
}

#content h3 {
  font-size: 1.2em;
  margin: 15px 0px 0px 0px;
}

#content h4 {
  color: #555;
  font-size: 11px;
  font-weight: normal;
  margin: 5px 0px -3px 0px;
  padding: 0px;
}

#content p {
  line-height: 140%;
  margin: 10px 0px;
  padding: 0px;
}

#content ul {
  margin: 5px 0px;
  padding: 0px;
}

#content li {
  line-height: 150%;
  list-style: none;
  margin: 5px 0px;
}

/* sidebar
---------------------------------------------------------- */

#sidebar {
  float: right;
  margin: 20px 20px;
  min-height: 300px;
  width: 230px;
}

  #sidebar label {
    font-size: 15px;
  }

  #sidebar h2 {
    margin: 0px 0px 10px 0px;
  }

  #sidebar h3 {
    margin: 0px 0px 5px 0px;
  }

  #sidebar p {
    margin: 0px 0px 15px 0px;
  }

  #sidebar form {
    margin: 0px 0px 10px 0px;
  }

  #sidebar ul {
    line-height: 150%;
    padding: 0px;
    margin: 0px 0px 15px 0px;
  }

  #sidebar li {
    list-style: none;
    line-height: 150%;
  }

  #sidebar a.on {
    color: #FFF;
    background: #0099CC;
    padding: 0px 2px;
  }

  #sidebar a:hover {
    padding: 0px 2px;
  }

  #sidebar a.on:hover {
    text-decoration: none;
  }

/* footer
---------------------------------------------------------- */

#footer {
  background: #000;
  color: white;
  font-size: 10px;
  padding: 20px;
}

  #footer a {
    color: #FFF;
  }

  #footer a:hover {
    background: transparent;
    color: #09C;
  }

/* form
---------------------------------------------------------- */

form {
}

input {
  font-size: 12px;
  padding: 2px;
}

input.big {
  font-family: Georgia, monaco;
  font-size: 20px;
  font-weight: normal;
  width: 100%;
}

input:focus,
textarea:focus {
  background: #FFFCE1;
}

textarea {
  font-family: Monaco, "Courier New", Courier, monospace;
  font-size: 13px;
  padding: 2px;
  width: 100%;
}

select {
  border: 1px solid #999;
}

/* label
---------------------------------------------------------- */

label {
  display: block;
  font-weight: bold;
  margin: 5px 0px 3px 0px;
}

/* notice & dialogs
---------------------------------------------------------- */

.dialog {
  margin: 10px 0px 20px 0px;
}

/* tables
---------------------------------------------------------- */

table {
  background: black;
  border-collapse: collapse;
  border-spacing: 0px;
  color: black;
  font-weight: normal!important;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

table th {
  color: white;
  padding: 3px 4px;
  text-align: left;
}

table th a {
  color: white!important;
}

table th a:hover {
  text-decoration: none!important;
}

table tr.even {
  background: white!important;
}

table tr.even:hover,
table tr.odd:hover {
  color: white;
  background: #0099CC!important;
}

table tr.even:hover a,
table tr.odd:hover a {
  color: white!important;
}

table tr.even:hover a:hover,
table tr.odd:hover a:hover {
  background: transparent!important;
}

table tr.odd {
  background: #F5F5F5!important;
}

table td {
  border: none;
  font-weight: normal;
  padding: 3px 4px;
  vertical-align: top;
}

table a,
table a:link,
table a:visited,
table a:active {
  font-weight: normal;
}

table a:hover {
  color: black;
}

/* fieldsets
---------------------------------------------------------- */

fieldset {
  border: 1px dotted #999;
  padding: 10px;
  margin: 0px 0px 20px 0px;
}

fieldset.on {
  border: 1px solid #0099CC;
}

fieldset.on legend {
  color: #0099CC;
  text-transform: uppercase;
}

legend {
  font-size: 15px;
  padding: 0px 5px;
}

fieldset input {
  width: 100%;
}

/* headings
---------------------------------------------------------- */

h2 {
  margin: 0px 0px 20px 0px;
}

/* rails errors
---------------------------------------------------------- */

.formError {
  color: green;
  display: inline;
}

.fieldWithErrors {
  margin: -7px 0px 0px 0px;
}

.errorExplanation {
  border: 2px solid #3366CC;
  padding: 0px 10px 5px 10px;
}

/* searchbox
---------------------------------------------------------- */

.box {
  border: 1px solid #D3D3D3;
  margin: 0px 0px 10px 0px;
  padding: 5px 10px;
}

.box p {
  margin: 5px 0px;
}

.separator {
  border-top: 1px dotted #999;
  margin: 20px 0px;
}

img {
  border: 0px;
}

/* dialog
---------------------------------------------------------- */

body#login {
  background: #000;
}

#dialog {
  background: #FFF;
  border: 5px solid #09C;
  margin: 100px auto 10px auto;
  padding: 15px 20px;
  width: 420px;
}

  #dialog h1 {
    color: #09C;
    font-size: 1.6em;
    margin: 5px 0px 15px -5px;
    padding: 0px 0px 0px 5px;
  }

  #dialog h2 {
    color: #7A9496;
    font-size: 120%;
    margin: 1em 0px 0.75em 0px;
  }

  #dialog label {
    display: block;
    font-weight: bold;
    margin: 0px 0px 3px 0px;
  }

  #dialog input {
    margin: 0px 10px 10px 0px;
  }

  #dialog input.big {
    font-size: 20px;
    font-family: georgia;
    padding: 3px 2px;
    width: 97%;
  }

  #dialog input:focus {
    background-color: #FFFCE1;
  }

  #dialog #signature {
    color: #FFF;
    margin: 0px auto;
    text-align: right;
    width: 450px;
  }

  #dialog .error {
    background: #000;
    border-left: 5px solid red;
    color: #FFF;
    margin-bottom: 1em;
    padding: 5px 5px 5px 10px;
  }

  #dialog .success {
    background: #000;
    border-left: 5px solid green;
    color: #FFF;
    margin-bottom: 1em;
    padding: 5px 5px 5px 10px;
  }

  #dialog .warning {
    background: #000;
    border-left: 5px solid yellow;
    color: #FFF;
    margin-bottom: 1em;
    padding: 5px 5px 5px 10px;
  }

/* pagination
---------------------------------------------------------- */

.pagination {
  border-top: 1px solid #F5F5F5;
  border-bottom: 1px solid #F5F5F5;
  margin: 25px auto; /* margin: 3px; */
  padding: 10px 0px;
  text-align: center;
}

.pagination a {
  color: #0099CC;
  margin: 2px;
  padding: 2px 3px;
  text-decoration: none;
}
.pagination a:hover,
.pagination a:active {
  color: #000;
}
.pagination span.current {
  background-color: #0099CC;
  color: #FFF;
  font-weight: bold;
  margin: 2px;
  padding: 2px 3px;
}

.pagination span.disabled {
  color: #DDD;
  margin: 2px;
  padding: 2px 3px;
}