<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>Typus Publishin Platform</title>

<%= stylesheet_link_tag "typus/login", :media => "screen" %>

</head>

<body onload="$('user_email').focus()">

<div id="dialog">

<h1><%= link_to "Typus Publishing Platform", login_url %></h1>

<%= "<div id=\"notice\">" + flash[:notice] + "</div>" if flash[:notice] %>
<%= "<div id=\"notice-error\">" + flash[:error] + "</div>" if flash[:error] %>

<%= yield %>

</div>

</body>

</html>
