<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
<%= head %>
</head>

<body onload="$('user_email').focus()">

<div id="dialog">

<%= header %>

<%= "<div id=\"notice\">" + flash[:notice] + "</div>" if flash[:notice] %>
<%= "<div id=\"notice-error\">" + flash[:error] + "</div>" if flash[:error] %>

<%= yield %>

</div>

</body>

</html>
